@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* button  */
  .btn {
    @apply px-6 py-2 border-2 text-white border-primary hover:bg-primary duration-300 focus:ring-2;
  }
  .btn-small {
    @apply px-4 py-1 border-2 text-gray-900 border-primary hover:bg-primary duration-300 focus:ring-2;
  }
  .active-btn {
    @apply px-4 py-1 border-2 text-white bg-primary duration-300;
  }
  /* navigation area */
  .nav-link {
    @apply text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium;
  }
  .nav-link-res {
    @apply text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium;
  }
  .profile-link {
    @apply block px-4 py-2 text-sm text-gray-700;
  }
  /* footer area */
  .link {
    @apply block text-center font-medium text-gray-300;
  }
  .input {
    @apply border border-gray-800 block w-11/12 mx-auto px-4 py-2 focus:outline-0 focus:border-primary;
  }
  .input-btn {
    @apply border border-primary block w-11/12 mx-auto px-4 py-2 bg-primary font-medium text-white focus:ring-2;
  }
  .bordered {
    @apply mx-auto text-center border-4 border-gray-400 hover:border-4 duration-300 hover:border-primary my-16 p-4 py-8;
  }
}

@layer base {
  h1 {
    @apply text-3xl sm:text-5xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
}

/* for making own tailwind class in our pc */
@layer utilities {
  .bannerImg {
    background-image: url("./Images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

/* custom css for title  */
.title:after {
  content: "";
  width: 3%;
  height: 1px;
  background-color: #2e79ea;
  display: inline-block;
  transform: translateY(-6px);
  margin: 0 10px;
}
.title:before {
  content: "";
  width: 3%;
  height: 1px;
  background-color: #2e79ea;
  display: inline-block;
  transform: translateY(-7px);
  margin: 0 10px;
}

.title-2:after {
  content: "";
  width: 15%;
  height: 1px;
  background-color: #2e79ea;
  display: inline-block;
  transform: translateY(-6px);
  margin: 0 10px;
}
.title-2:before {
  content: "";
  width: 15%;
  height: 1px;
  background-color: #2e79ea;
  display: inline-block;
  transform: translateY(-7px);
  margin: 0 10px;
}
